.container {
  display: grid;
  /* repeat(5, 100px) 100px 5번 지정하는 함수 */
  /* fr: 부모 길이 기준 비율로 길이 설정 */
  grid-template-columns: repeat(5, 1fr);

  /* 
  row마다 각각의 길이 할당하고 싶을 때 
  grid-template-rows: 100px 200px; */
  /* 
  모든 row 같은 값 할당하고 싶을 때 */
  grid-auto-rows: 150px;
  /*
  minmax(최소 기준값, 최대 기준값)
  아이템이 없어도 최소 길이는 최소 기준값, 아이템이 길어도 최대 길이는 최대 기준값에 맞춤
  auto : 컨텐츠에 딱 맞는 높이 (컨텐츠의 높이)
  
  아이템이 없어도 최소 높이는 150px, 최대 높이는 컨텐츠에 맞게 설정 
  grid-auto-rows: minmax(150px, auto);*/

  /* grid-gap: 한번에 설정 가능 */
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.item2 {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  grid-column: 2/4;

  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 1/3;
}
