body {
  background-color: #fffaf0;
}
label,
input,
button {
  box-sizing: border-box;
}

main {
  width: 392px;
  margin: 71px auto;
}

main h1 {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 24px;
  line-height: 28.8px;
}

main h1 img {
  display: block;
  margin: auto;
  margin-bottom: 29px;
}

main h1 strong {
  box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.2);
  border-bottom: 2px solid #ff4f6e;
}

label {
  display: block;
  width: 100%;
  height: 73px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.7px;
  color: #29363d;
  margin-bottom: 24px;
}

.login input {
  margin-top: 8px;
  width: 100%;
  height: 48px;
  background-color: white;
  transition: border 0.2s;
  border: none;
  /* border-bottom: 1px solid #677880; */
  box-shadow: 0 1px 0 0 #677880;
  border-radius: 4px 4px 0 0;
  padding: 0 15px;
}

.login input:hover {
  /* border-color: #2e6ff2;
  border-bottom-width: 2px; */
  box-shadow: 0 2px 0 0 #2e6ff2;
}

.login input:focus {
  outline: none;
  /* border: 2px solid #2e6ff2; */
  box-shadow: 0 0 0 2px #2e6ff2;
  border-radius: 4px;
}

button {
  width: 100%;
  height: 48px;
  background-color: #29363d;
  border: none;
  color: #f4f5f5;
  border-radius: 4px;
  cursor: pointer;
}
